<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="oracle" connectionString="Provider=OraOLEDB.Oracle;User ID=inp;Data Source=wf4th;Password=itg1020209" providerName="System.Data.OleDb"/>
    <add name="oracletest" connectionString="Provider=OraOLEDB.Oracle;User ID=inp;Data Source=wf4test;Password=itg1020209" providerName="System.Data.OleDb"/>
    <add name="accDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|RoExchangeAccess.mdb;Persist Security Info=False" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>
